//Variables

@primary: ;
@secondry: ;
@b: #000000;
@w: #ffffff;
@im: !important;

/*===========================================================
                    Site Wide Styles
===========================================================*/

body,
html {
	background-color: @w;
	font-family: 'Markazi Text', serif;
	height: 100%;
	max-width: 100%;
	padding: 0;
}

body {

}

.site-wrapper {
	min-height: 100%;
	height: auto;
	padding: 0;
}