/*===========================================================
                    Site Wide Styles
===========================================================*/
body,
html {
  background-color: #ffffff;
  font-family: 'Markazi Text', serif;
  font-size: 16px;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.site-wrapper {
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
/*===========================================================
                    Header / Nav styles
===========================================================*/
.header {
  background-color: transparent;
}
.header .navbar .navbar-brand {
  color: #ffffff;
  font-size: 2.2rem;
  text-shadow: 2px 2px 2px #45b7f0;
}
.header .navbar .navbar-nav > .nav-item > .nav-link {
  color: #ffffff;
  font-size: 1.4rem;
}
.header .navbar .navbar-nav > .nav-item:active > .nav-link,
.header .navbar .navbar-nav > .nav-item:focus > .nav-link,
.header .navbar .navbar-nav > .nav-item:hover > .nav-link,
.header .navbar .navbar-nav > .nav-item > .nav-link.active,
.header .navbar .navbar-nav > .nav-item > .nav-link:hover,
.header .navbar .navbar-nav > .nav-item > .nav-link:focus {
  color: #45b7f0;
  transition: ease-in-out 0.4s;
}
.header .navbar-scrolled {
  background-color: #ffffff;
  transition: ease-in-out 1.5s;
}
.header .navbar-scrolled .navbar-brand {
  color: #34495e;
}
.header .navbar-scrolled .navbar-nav > .nav-item > .nav-link {
  color: #34495e;
}
/*===========================================================
                    Hero styles
===========================================================*/
.hero {
  background: url('../img/bg/713.png') no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  padding: 100px 0;
  text-align: center;
}
#hero .hero-inner {
  padding: 20px 0;
}
#hero .hero-inner h3 {
  margin: 0;
}
#hero .hero-inner h1 {
  font-size: 5rem;
  text-shadow: 2px 2px 5px #45b7f0;
}
#hero .hero-inner p {
  font-size: 1.6rem;
}
#hero .hero-inner .btn {
  text-transform: capitalize;
}
/*===========================================================
                    About section styles
===========================================================*/
#about {
  background-color: #fafafa;
  padding: 40px 0;
}
#about img {
  border: 2.5px solid #45b7f0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: block;
  height: 250px;
  margin: 10px auto;
  width: 100%\9;
}
#about h2 {
  color: #808080;
  font-size: 2.3rem;
}
#about p {
  color: #666666;
  font-size: 1.1rem;
}
/*===========================================================
                    Services section styles
===========================================================*/
/*===========================================================
                 	Portfolio section styles
===========================================================*/
/*===========================================================
                    Contact Section Styles
===========================================================*/
/*===========================================================
                    Footer Styles
===========================================================*/
footer {
  background-color: #34495e;
  color: #6789ab;
  font-size: 1.1rem;
  padding: 15px 0;
}
footer p {
  margin-bottom: 0;
}
footer .copyright {
  text-align: left;
}
footer .des-by {
  text-align: right;
}
footer .des-by a {
  color: #6789ab;
  text-decoration: none;
}
footer .des-by a:hover {
  color: #45b7f0;
  text-decoration: none;
}
